/*Alexa Summers, 09/18/2025*/

/*Mobile styles go first */

p {background-color: red;
  color: white;}
.showdesktop {display: none;}
.showmobile {display: block;}

/*Tablet styles go second */

@media (min-width: 600px) {
  p {background-color: blue;}
  body {}
  header {}
}

/*Desktop styles go last */

@media (min-width: 800px) {
  p {background-color: green; }
  .showmobile {display: none;}
  .showdesktop {display: block;}
}

